Source: ourfa-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 5), perl (>= 5.6.10-12), ourfa(>= 521008002.2)
Maintainer: Alexey Illarionov <littlesavage@rambler.ru>
Standards-Version: 3.8.0
Homepage: https://github.com/littlesavage/ourfa

Package: ourfa-perl
Architecture: any
Depends: ${perl:Depends}, ${shlibs:Depends}, ${misc:Depends}
Description: Perl bindings for URFA (UTM Remote Function Access) client library
  .
